<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my form</title>
</head>
<body>
    <form method="POST" action="/add">
    Name: <input type="text" name="name"><br><br>
    Age: <input type="number" name="age"><br><br>
    Roll: <input type="text" name="roll_no"><br><br>
    Email: <input type="email" name="email"><br><br>
    <button type="submit">submit</button>

 </form>
    
</body>
</html>